/*global*/
*{
    margin:0;
    padding:0;
}

body{
    background-color: lightgray;
    font-family: papyrus;
    text-align: center;
    line-height: 2;
    
    border: groove salmon;
    border-width: thick;
    
}